<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="CompanyService">
          <security mode="Transport" />
        </binding>
        <binding name="UserService">
          <security mode="Transport" />
        </binding>
        <binding name="CompanyService1">
          <security mode="Transport" />
        </binding>
        <binding name="UserService1">
          <security mode="Transport" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:45398/MVCServices" binding="wsHttpBinding"
          bindingConfiguration="CompanyService" contract="MVCRefenceresWCF.ICompanyService"
          name="CompanyService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:45398/MVCServices" binding="wsHttpBinding"
          bindingConfiguration="UserService" contract="MVCRefenceresWCF.IUserService"
          name="UserService">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:45398/MVCServices" binding="wsHttpBinding"
          bindingConfiguration="CompanyService1" contract="MVCSevicess.ICompanyService"
          name="CompanyService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <endpoint address="https://localhost:45398/MVCServices" binding="wsHttpBinding"
          bindingConfiguration="UserService1" contract="MVCSevicess.IUserService"
          name="UserService1">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>



