<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="CompanyService">
                <security mode="Transport" />
              </binding>

              <binding name="UserService">
                <security mode="Transport" />
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8739/MVCServices" binding="wsHttpBinding"
                bindingConfiguration="CompanyService" contract="MVCServiceRef.ICompanyService"
                name="CompanyService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8739/MVCServices" binding="wsHttpBinding"
                bindingConfiguration="UserService" contract="MVCServiceRef.IUserService"
                name="UserService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>