
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CiiMac Users</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">

</head>

<body>
        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- CiiMac DataTable for Users -->
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-table"></i>
                        Users
                        <!-- Button to add new User -->
                        <div class="text-sm-right">
                            <dl>
                                <dt>Click on "Add User" to register a new account</dt>
                            </dl>
                            <button type="button" class="btn btn-primary btn-info" onclick="location.href='@Url.Action("InsertUser", "User")'">
                                Add User
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>First name</th>
                                        <th>Last name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Jens</td>
                                        <td>Rørlægger</td>
                                        <td>jens@aps.com</td>
                                        <td>93459456</td>
                                    </tr>

                                    <tr>
                                        <td>Kenneth</td>
                                        <td>Petersen</td>
                                        <td>kenn84@gmail.com</td>
                                        <td>53463636</td>
                                    </tr>

                                    <tr>
                                        <td>Asbjørn</td>
                                        <td>Henriksen</td>
                                        <td>asbjorn@gmail.com</td>
                                        <td>53463123</td>
                                    </tr>
                                       
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>

            <!-- Bootstrap core JavaScript-->
            <script src="~/Content/vendor/jquery/jquery.min.js"></script>
            <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <!-- Core plugin JavaScript-->
            <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

            <!-- Page level plugin JavaScript-->
            <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
            <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="~/Content/js/sb-admin.min.js"></script>

            <!-- Demo scripts for this page-->
            <script src="~/Content/js/demo/datatables-demo.js"></script>

</body>

</html>
